@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Regular.ttf');
}

body{
    font-family: Montserrat, sans-serif;
    letter-spacing:2px;
    color: darkgray;
    font-weight: 200;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    width: 99%;
    border: 2px solid #f1b10e;

}

#main-header{
    display: flex;
    height: 130px;
    margin: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    color: white;
}

#logo-search{
    display: flex;
    justify-content: space-between;
    justify-self:flex-start;
    align-items: center;
    margin-top: 20px;
}


#search-bar{
    padding: 10px;
    border-radius: 10px;
    margin-right: 8px;
}

#search-input{
    width: 400px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    padding: 15px;
}


#search-input:hover{
    border: 1px solid darkgray;
}

#search-button{
    position: absolute;
    right: 22px;
    height: 25px;
    width: 50px;
    color: darkgray;
    font-size: 15px;
    border: none;
    text-align: center;
    margin-top: 6px;
    background-color: white;
}


#logo{
    margin-left: 20px;
}

#logo-img{
    width: fit-content;
    height: 50px;
}

#main-nav{
    margin-top: 40px;
    justify-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-content:flex-end;
}

#main-nav a{
    text-decoration: none;
    margin: 0 10px;
}

#main-nav a:hover{
    background-color: white;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
}

.nav-links a:hover{
    font-weight: bold;
    color: #f1b10e;
}

.social-media-links{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-right: 10px;
    margin-left: 13px;

}

.social-media-links img{
    height: 20px;
}


#hero-section{
    display: flex;
    justify-content: space-between;
    margin: 150px 25px;
    padding: 0;
}

#hero-image{
    width: 39%;
    height: 100%;
    border:none;
    padding: 0;
    margin: 0;
}

#hero-img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#hero-text{
    width: 58%;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 5px 0;
    justify-content: space-between;
    line-height: max(1.5, 3.5vw);
}

#hero-text-header{
    font-size: 35px;
    font-weight: 700;
    color: black;
    justify-self: flex-start;
    margin: 0;
    padding: 0;
}
#hero-text-paragraph{
    font-size: 16px;
    margin-bottom: 15px;
}

.custom-btn{
    width: 210px;
    height: 50px;
    background-color: #f1b10e;
    justify-self: flex-end;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    margin: 8px 0;
}

#hero-text-info{
    color: #f1b10e;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 4px;
}

#product-cards-header{
    margin: 25px;
    font-size: 25px;
    font-weight: bold;
}

#product-cards{
    display: flex;
    width: fit-content;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px 25px;
}

.card{
    display: flex;
    text-align: left;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 350px;
    background-color: white;
}

.card-header{
    text-align: left;
    color: #f1b10e;
    font-weight: bold;
}
